{% extends 'index.html' %}
{% load static%}
{% block content %}

<div class="container ">
    <div class="home_blog-area section-padding30">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Book Appointments</span>
                        <h2>Our Hospitals</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                {% for hospital in hospitals %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-blogs mb-30">
                        <div class="blog-img">
                            <img src="{%static 'img/gallery/blog1.png' %}" alt="">
                        </div>
                        <div class="blogs-cap">
                            <div class="date-info">
                                <br>
                                <span>{{hospital.first_name}}</span>
                                <br>
                                <p>{{hospital.user_profile.address}}
                                    {{hospital.user_profile.phone}}
                                    {{hospital.user_profile.city}}

                                </p>
                            </div>
                            <h4></h4>
                            <a href="{%url 'book_appointment' hospital.id %}" class="btn btn-primary">Book Appointments</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>


</div>

{% endblock %}